<!doctype html>
<html lang="ru">
    <head>
        <title>Список кандидатов</title>
    </head>
    <body>
        <form>
            <label>Должность <input name="position" type="text"></label>
            <button type="submit">Найти</button>
        </form>

        <h1>Список кандидатов</h1>

        {% for candidate in candidates %}
            <p>
                <b>{{ candidate.name }}</b><br/><br/>
                <span class="position"><i>Должность</i>: {{ candidate.position }}</span><br/>
                <span><i>Полных лет</i>: {{ candidate.age }}</span><br/>
                <span><i>Пол</i>: {{ candidate.gender }}</span><br/>
                <span><i>Навыки</i>: {{ candidate.skills }}</span><br/>
            </p>
        {% endfor %}
    </body>
</html>